@import 'setup';
@import 'variables';
@import 'petContainer';
@import 'carousel';
@import 'petGallery';
// @import 'petsDisplay';



h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lighten($brandGreen, 60);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  color: goldenrod;
}



h1 {
  font-family: $brandHeadline;
  letter-spacing: 2px;
}
/* Always set the map height explicitly to define the size of the div * element that contains the map. */
#map {
  height: 100vh; 
}

.searchOverlay {
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: absolute;
  background-color: darken(rgba(63, 105, 89, 0.5),20);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchOverlay h1 {
  color: white;

}
//Class is added on button select
.searchOverlayTop {
  padding: 20px 20px;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: $brandGreen;
}

.ui-autocomplete{
  z-index: 20;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  max-width: 200px;
  position: absolute;
  top: 0;
}

.ui-menu {
  padding: 0;
  margin: 0;
}

.ui-menu-item {
  list-style: none; 
  padding: 5px;
  cursor: pointer;
}

.ui-menu-item:hover {
  background: #CCCCCC;
}


//Style map view birds button
button.viewDetails {
	background: $brandGreen;
	color:white;
	border:none;
	padding:5px 10px;
	border-radius: 3px;
}
.wrapper{
  max-width: 1170px;
  margin: 0 auto;
}

.infoBox {
	display:flex;
	align-items:center;
	flex-direction:column;
}